// Typographies
$font-family-titles: "Libre Baskerville", serif;
$font-family-text: "Lato", sans-serif;

// Couleurs
$background-color: #f3f1ed;
$text-color: #342d1f;
$accent-color: #b39966;

// Breakpoints
$large-screen: 992px;

// Dimensions
$max-content-width: 1800px;
