---
import Layout from "../layouts/Layout.astro";
import Checkout from "../components/reactive/Checkout.vue";
---

<Layout title="Paiement">
    <main>
        <Checkout client:load />
    </main>
</Layout>