---
import Cart from "../components/reactive/Cart.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mon Panier">
    <div class="Panier">
        <Cart client:idle />
    </div>
</Layout>

<style lang="scss">
    .Panier {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
