---
import "@fontsource/lato/100.css";
import "@fontsource/lato/300.css";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";
import "@fontsource/lato/900.css";

import "@fontsource/libre-baskerville/400.css";
import "@fontsource/libre-baskerville/700.css";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <title>Laure Ferrando - {title}</title>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>

<style lang="scss" is:global>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: $font-family-text, sans-serif;
        background-color: $background-color;
        color: $text-color;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    h1,
    h2 {
        font-family: $font-family-titles, serif;
    }

    li {
        list-style: none;
    }

    ul,
    ol {
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
</style>
